// There are more files in common-controls.jst
##includetemplate=engine\common-controls

##include=engine\baseform
##include=engine\form-base
##include=engine\form-base-painters
##include=engine\form-sub
##include=engine\form-sub-db
##include=engine\form-dbgrid


##include=app\sub-page-tabs
##include=app\claim-services-custom

##include=app\__init
