// *****************************************************************************************************
// Last modified on
// 10:02 PM Friday, October 6, 2017
// *****************************************************************************************************
##include=app\claim-documents
##include=app\view-claim-documents-in
##include=app\view-claim-documents-out
##run=ClaimDocumentsView