##includetemplate=app\app-medics-3
##include=app\main-gop
##include=engine\edit-custom-view
##include=app\service-details-gop
##include=app\edit-service-gop
##include=app\edit-service-custom-gop
##include=app\view-service-status-history
##include=app\view-service-actions
