##includetemplate=app\app-medics-3
##include=app\main-inv
//##include=engine\edit-custom-view
//##include=app\service-detail-inv
//##include=app\edit-service-inv
//##include=app\edit-service-custom-inv
//##include=app\view-service-status-history
//##include=app\view-service-actions
