// ##include=app\view-payment-authorization
// ##include=app\view-payment-batching
// ##include=app\view-payment-batches
// ##include=app\view-payments-search
##include=app\payment-processing
##run=PaymentProcessingView