// ##includetemplate=app\claim1med
// ##includetemplate=app\app-medics
##include=app\view-providers-medical
##include=app\countries-lookup
##include=app\doctor-specialisation-lookup
// ##include=app\edit-provider-discount
##include=app\view-doctors
##include=app\edit-doctor
// ##include=app\view-hospitals
// ##include=app\edit-hospital
##includetemplate=app\contacts
##includetemplate=app\addresses
##run=ProvidersMedicalTabs