.grid3 .master-detail-container {
	background: white;
	border: 1px solid silver;
}

.grid3.action-types .data-table .row[x-status="0"] {
	color: red;
} 

.grid3.action-sub-types .data-table .row[x-status="0"] {
	color: red;
} 