/*****************************************************************************************************/
/* Last modified on */
/* 11-MAR-2015 */
/*****************************************************************************************************/
.grid-[pid] tbody tr[x-pa="true"] {
	color: blue;
}

.grid-[pid] div[grid-sec="cardx"] {
	padding: 6px;
	box-sizing: border-box;
	border: 1px	gainsboro;
	border-style: none none dotted none;
}

.grid-[pid] div[grid-sec="card"] {
	float: left;
	width: 400px;
	margin: 8px 0px 0px 8px;
	box-sizing: border-box;
	border: 1px	gainsboro solid;
	background: whitesmoke;
	box-shadow: rgba(0,0,0,0.1) 0px 0px 3px;
}

.grid-[pid] div[grid-sec="card"]:hover {
	/*background: whitesmoke;*/
	border-color: dimgray;
}

.grid-[pid] div[grid-sec="card"] div[card-sec="command-bar"] {
	display: inline-block;
	width: 24px;
	height: 100%;
	background: whitesmoke;
}

.grid-[pid] div[grid-sec="card"] div[card-sec="content"] {
	position: relative;
	padding: 6px;
	display: inline-block;
	width: Calc(100% - 24px);
	height: 100%;
	box-sizing: border-box;
	background: white;
}

.grid-[pid] div[grid-sec="card"] {
	height: 75px;	
	height: auto;	
}

.grid-[pid] div[grid-sec="card"] div[x-client="header"] {
	position: relative;
	width: 100%;
	/*height: 24px;*/
	box-sizing: border-box;
}

	.grid-[pid] div[grid-sec="card"] a[x-client="name"] {
		/*display: table-cell;*/
		/*width: 75%;*/
		position: absolute;
		font-size: 10pt;
		font-weight: bold;
		color: #2A7EB1;
	}

	.grid-[pid] div[grid-sec="card"] a[x-client="pin"] {
		position: absolute;
		right: 0;
		font-size: 12pt;
		/*font-weight: bold;*/
		padding: 2px 3px 2px 3px;
		color: white;
		background: #61BDEB;
	}

.grid-[pid] div[grid-sec="card"] div[x-client="footer"] {
	position: relative;
	bottom: 0;
	width: 100%;
	margin-top: 20px;
	/*height: 24px;*/
	background: rgba(0,0,0,0.1);
	vertical-align: bottom;
}
