##const
	header-height=32px
##endconst

.grid-test {
	height: 100%;
	width: 100%;
	background: #D2E3EF;
	overflow-x: scroll;
	overflow-y: scroll;
}

.grid-test div[grid-sec="inner"]{
	height: 100%;
	width: 100px;
	background: rgba(0,0,0,0.1);
}