DROP VIEW [dbo].[claims]
GO

CREATE VIEW [dbo].[claims]
AS
	SELECT
		CLAIM_NO AS id,
		CLAIM_REF AS claim_no,
		IP_ID AS member_id, 
		COMP_ID AS name_id, 
		CLIENT_ID AS client_id,
		POLICY_ID AS policy_id,
		HCM_REF AS hcm_reference,
		REF_NO1 AS reference_no1,
		REF_NO2 AS reference_no2,
		REF_NO3 AS reference_no3,
		PROD_CODE AS product_code, 
		SUB_PRODUCT AS sub_product, 
		PLAN_CODE AS plan_code, 
		PLAN_CODE2 AS plan_code2, 
		CLM_TYPE AS claim_type, 
		INC_DATE AS incident_date, 
		INC_CTRY AS country_of_incident, 
		ACCD_DATE AS accident_date, 
		ACCD_CODE AS accident_code, 
		IS_PREEXISTING AS is_preexisting,
		SYMP1_DATE AS first_symptom_date, 
		CONSULT1_DATE AS first_consultation_date, 
		TRV_DEP_DATE AS travel_departure_date,
		TRV_RET_DATE AS travel_return_date,
			ICD_CODE AS diagnosis_code, 
			CONDITION AS diagnosis_notes, 
			FINAL_ICD AS final_diagnosis_code, 
			FINAL_CONDITION AS final_diagnosis_notes, 
		BASE_CRCY AS base_currency_code, 
		CLT_CRCY AS client_currency_code, 
		ELG_CRCY AS eligibility_currency_code, 
		REC_DATE AS notification_date, 
		CASE_OWNER AS case_owner, 
		STATUS AS status_code, 
		STATUS_ID AS status_id, 
		ESTIMATE_ID AS estimete_id, 
		IS_ACCIDENT AS is_accident, 
		IsDeleted AS is_deleted, 
		IS_PREEXISTING AS is_prexisting, 
		InsertDate AS create_date, 
		InsertUser AS create_user, 
		UpdateDate AS update_date, 
		UpdateUser AS update_user
	FROM dbo.tb_claims
GO
