<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		<title>Login</title>
		<link rel="SHORTCUT ICON" href="/images/jcjz-logo-16.jpg">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/loadcss/engine/css/login?main=1" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Average+Sans" rel="stylesheet" type="text/css">
    </head>
	<body>

<div class="content">
	<div class="logo" style="height: 45px">
		<div style="float:left">
			<img src="/images/jcjz-logo-45.png">
		</div>
		<div style="float:left; height: 100%; line-height:45px; padding-left: 10px; font-family: 'Average Sans'; font-size:14pt; word-spacing:0px">
			<a style="font-style:italic">welcome to JCJZ enterprises portal...</a>
		</div>
	</div>
	<div class="login">
		<div xsec="title">
			log in to jcjzenterprises<a>.com</a>
		</div>
		<form id="login-form" name="login" method="post" action="/api/session/login">
			<div xsec="login">
				<div xsec="login-left">
						<label>username</label>
						<input type="text" id="username" name="username" value=''>

						<label>password</label>
						<input type="password" id="password" name="password", value="">

						<input type="hidden" name="redirect" value="/">
						
						<div xsec="footer">
							<input type="submit" id="submit" name="submit" value="Sign In" class="login-btn">
						</div>
				</div>
				<div xsec="login-right">
					<label>Did you forget your password?</label>
					<a>Recover it here</a>
					<label style="margin-top:20px;">Register to evaluate?</label>
					<a>Sign up</a>
				</div>
			</div>
		</form>
	</div>
</div>


	</body>
</html>


	<script>
		document.getElementById("username").focus();
	</script>
